[Desktop Entry]
Name=ChromeOsKde.Light.V2
X-KDE-PluginInfo-Name=ChromeOsKde.Light.V2

X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true

[ContrastEffect]
enabled=false
contrast=0.2
intensity=0.4
saturation=1.7
